@import url(http://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:300,400|Pacifico);

body, html {
	padding: 0;
	margin: 0;
	background: #453E3F;
	font: 300 16px/1.5 'Roboto', sans-serif;
}

h1 {
	color: #6CF4DE;
}

a {
	text-decoration: none;
	color: inherit;
	box-shadow: inset 0 -5px 0 #6CF4DE;
}
a:hover {
	background: #6CF4DE;
}

header {
	text-align: center;
    padding: 0 2em;
}
header > h2 {
	color: #fff;
	font-weight: lighter;
	font-size: 1.2em;
}

section {
	padding: 25px 0;
	border-top: 2px dotted #fcfcfc;
}
section:first-of-type {
	margin-top: 5em;
}
section > h2 {
	color: #fcfcfc;
	background-color: #453e3f;
	max-width: 40%;
	margin: 0px auto;
	padding: 0 .5em;
	font: 1.5em 'Pacifico', cursive;
	text-align: center;
	text-transform: capitalize;
	margin-top: -2em;
}
article {
	margin: 75px auto;
	padding: 0;
	max-width: 80%;
	background: #fcfcfc;
	box-sizing: border-box;
}
article h2 {
	font: lighter 1em/1 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: .15em;
	color: #fff;
	background: #66e5d1;
	margin: 0;
	padding: 1em;
}
article .content {
	padding: 50px;
	color: #404040;
}
article p.title {
	font: 300 2em/1 'Open Sans', sans-serif;
	color: #66e5d1;
	text-transform: capitalize;
	margin: .75em 0 .5em 0;
}
article img {
	max-width: 100%;
}
article p, article ul, article li{
	font-weight: 300;
}
article p {
	margin: 0 0 1em 0;
}
article ul {
	/*padding: 0 1em;*/
	/* ul element may or may not need more styling. Leave the default rendering for now */
}
article em {
	/*background-color: #f5e9e6;*/
	/* em element might need better visual distingtion. Revisit this later. */
}


article blockquote {
	margin: 0 0 1em 0;
	padding: 1em;
	border-left: solid 4px #f4e8e5;
	background-color: #f5f2f0;
	font-style: italic;
}